# Loại bỏ các thư mục cấu hình và cache của Terraform
**/.terraform/
.terraform.lock.hcl

# Loại bỏ các file lưu trạng thái Terraform (chứa thông tin nhạy cảm ở dạng plain-text)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Loại bỏ các file chứa biến bí mật
*.tfvars
*.tfvars.json
.env

# Loại bỏ khóa bảo mật SSH / AWS Credentials
*.pem
*.key
*.pub
credentials

# Loại bỏ các file tạm thời của hệ điều hành
.DS_Store
Thumbs.db
##
.html